[submodule "thirdparty/micrortps_transport"]
    path = thirdparty/micrortps_transport
    url = git@github.com:eProsima/micro-RTPS-transport.git
[submodule "thirdparty/microcdr"]
	path = thirdparty/microcdr
	url = git@github.com:eProsima/micro-CDR.git
